/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url(../../static/fonts/IranSansX/fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

/* You can override the default Infima variables here. */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009ef7;
  --ifm-color-primary-dark: #008edb;
  --ifm-color-primary-darker: #007fc2;
  --ifm-color-primary-darkest: #00679c;
  --ifm-color-primary-light: #19a9f8;
  --ifm-color-primary-lighter: #33b4fa;
  --ifm-color-primary-lightest: #5cc7fb;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'IRANSansX', sans-serif;
  --ifm-font-family-monospace: 'IRANSansX', monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #009ef7;
  --ifm-color-primary-dark: #008edb;
  --ifm-color-primary-darker: #007fc2;
  --ifm-color-primary-darkest: #00679c;
  --ifm-color-primary-light: #33b4fa;
  --ifm-color-primary-lighter: #51c0fb;
  --ifm-color-primary-lightest: #7fd3fc;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-font-family-base: 'IRANSansX', sans-serif;
  --ifm-font-family-monospace: 'IRANSansX', monospace;
}
